body{
	background-image: url(https://s3.us-east-2.amazonaws.com/james.neyer.me/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:#ffffff;
	padding-top: 70px;
}
.paragraphs{
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
.headers{
	text-align: center;
	font-family: 'Oswald', serif;
}
a:link{
	color:#553D67;
}
a:visited{
	color:#99738E;
}

section{
 padding: 40px;
}

.modal-content{
	color: black;
}
.links{
	font-size: 30px;
}
.modal-dialog{
    position: relative;
    display: table; 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
